@import "tailwindcss";

@theme {
  --color-primary: #1e3a8a;
  --color-secondary: #0f172a;
  --color-accent: #3b82f6;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
}

@custom-variant dark (&:is(.dark *));

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-secondary);
    font-family: Arial, Helvetica, sans-serif;
  }
}
