:root {
    /*--color-pallete-blue-dark: #0f0f24;*/
    --color-pallete-blue-dark: #070238;
    --color-pallete-blue: #27215a;
    --color-pallete-blue-light: #f6f7f8;
    --color-pallete-orange: #FAB321;
    --color-pallete-orange-light: #ffc34c;
    --color-pallete-orange-dark: #d0941c;
    --color-pallete-yellow: #ffe419;

    --color-label: #1d1a3c;

    --color-input-border: #cbcad7;
    --color-input-placeholder: #6c6b78;
    --color-input-border-hover: #7b72cb;
    --color-input-border-focus: #4f4795;

    --color-task-not-started: #f14242;
    --color-task-in-progress: #f4a023;
    --color-task-in-revision: #eb46ac;
    --color-task-done: #33b842;
    --color-task-not-started-light: #ffdede;
    --color-task-in-progress-light: #ffefd8;
    --color-task-in-revision-light: #ffddf2;
    --color-task-done-light: #dbffdf;

    --color-badge-blue: #1d1d37;
    --color-badge-blue-background: #e4e4ff;

}