# database
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/badger_tasks
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres

# auth
JWT_SECRET=change-me-in-production
# jwt expires in 24h
JWT_EXPIRATION=86400000

# to generate a new jwt secret:
# openssl rand -hex 32